<div  class="navbar">
  <ul class="nav nav_links">
    <li id="nav-home"><%= link_to "Home", root_path %></li>
    <li id="nav-my_tasks"><%= link_to "My Tasks", tasks_path %></li>
    <li id="nav-my_lists"><%= link_to "My Lists", task_lists_path %></li>
  </ul>
</div>
