
.ng-cloak{"ng-init"=>"init()"}
  %h2 Try it out

  %div.return
    %a{"ng-href"=>"/landing#/"}
      %i{'class'=>'fa-arrow-left fa'}
      Back

  %div.demo_task_lists
    %p
      Create a sample task list
    %ul.list-group{"ng-show"=>"lists == 0"}
      %li.list-group-item
        You haven't created any lists yet.
    %ul.list-group.unstyled
      %li.list-group-item{"ng-repeat"=>"list in lists"}
        %p.row-fluid
          %a.span3{:href=>"/landing#/task_lists/{{list.id}}"}
            {{list.name}} ({{list.tasks.length}})
          %button.btn.btn-danger.btn-xs.span1{:type=>"button", "ng-click"=>"deleteList(list, $index)"}
            %span.glyphicon.glyphicon-ban-circle
              %i.fa.fa-trash-o

  %form#new_list{"ng-submit"=>"createList(listName)"}
    .input-append
      %input#taskDescription.form-control.input-lg{:type=>"text", :autofocus=>"autofocus", :placeholder=>"List name", :maxlength=>"255", "ng-model"=>"listName", "data-non-blank"=>""}
      %button.btn.btn-primary.btn-lg{:type=>"submit"} create list


