
.ng-cloak{"ng-init"=>"init()"}
  %h2 Try it out

  %div.return
    %a{"ng-href"=>"/landing#/"}
      %i{'class'=>'fa-arrow-left fa'}
      Back

  %div.demo_task_lists
    %p
      Create a sample task list
    %ul.list-group{"ng-show"=>"lists == 0"}
      %li.list-group-item
        You haven't created any lists yet.
    %ul.list-group
      %li.list-group-item{"ng-repeat"=>"list in lists"}
        %a{:href=>"/landing#/task_lists/{{list.id}}"}
          {{list.name}} ({{list.tasks.length}})
        %button.btn.btn-danger.btn-xs.pull-right{:type=>"button", "ng-click"=>"deleteList(list, $index)"}
          %span.glyphicon.glyphicon-ban-circle


  %form#new_list{"ng-submit"=>"createList(listName)"}
    .input-group
      %input#taskDescription.form-control.input-lg{:type=>"text", :autofocus=>"autofocus", :placeholder=>"List name", :maxlength=>"255", "ng-model"=>"listName", "data-non-blank"=>""}
      %span.input-group-btn
        %button.btn.btn-primary.btn-lg{:type=>"submit"} create list


