
.ng-cloak{"ng-init"=>"init()"}
  %h2 Explore Our Site

  %div.public_tasks
    %p
      Check out these sample tasks
    %ul.tasks.unstyled
      %li{:class=>"well","ng-class"=>"{completed:task.complete}", "ng-repeat"=>"task in tasks"}
        %div {{task.name}}
        %div {{task.description}}
        %div {{task.due_date | date:'MM-dd-yyyy HH:MM:ss'}}

  %div.try_it
    %a{'ng-href'=>"landing#/try_it"}
      Try It
